<div class="container">
  <div class="row">
    <div class="col-sm-offest-3 col-sm-6">
      <h1>About us</h1>
    </div>
  </div>
    <div class="row">
    <div class="col-sm-4">
      <h2>What do we do</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin sit amet nisi vitae vehicula. Aliquam et leo rutrum, fermentum ante sed, finibus justo. Cras ac erat non purus consequat iaculis. Integer vitae vulputate lacus. Vestibulum iaculis quis ligula et aliquam. Donec et mi ligula. Nulla nulla eros, lacinia mattis lorem vitae, faucibus iaculis nisl. In congue nisi nulla. Mauris ut dignissim turpis, a porta libero. Fusce id tellus consequat, suscipit leo vel, pulvinar sapien. Integer mollis ipsum sed diam gravida, in auctor neque pellentesque. Proin at turpis nec mi dapibus rutrum vitae eu nunc. Donec semper, dui a porttitor pretium, est urna tincidunt ante, quis mollis ligula metus vitae turpis.</p>
    </div>
    <div class="col-sm-4">
      <h2>Why us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin sit amet nisi vitae vehicula. Aliquam et leo rutrum, fermentum ante sed, finibus justo. Cras ac erat non purus consequat iaculis. Integer vitae vulputate lacus. Vestibulum iaculis quis ligula et aliquam. Donec et mi ligula. Nulla nulla eros, lacinia mattis lorem vitae, faucibus iaculis nisl. In congue nisi nulla. Mauris ut dignissim turpis, a porta libero. Fusce id tellus consequat, suscipit leo vel, pulvinar sapien. Integer mollis ipsum sed diam gravida, in auctor neque pellentesque. Proin at turpis nec mi dapibus rutrum vitae eu nunc. Donec semper, dui a porttitor pretium, est urna tincidunt ante, quis mollis ligula metus vitae turpis.</p>
    </div>
    <div class="col-sm-4">
      <h2>Something else</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin sit amet nisi vitae vehicula. Aliquam et leo rutrum, fermentum ante sed, finibus justo. Cras ac erat non purus consequat iaculis. Integer vitae vulputate lacus. Vestibulum iaculis quis ligula et aliquam. Donec et mi ligula. Nulla nulla eros, lacinia mattis lorem vitae, faucibus iaculis nisl. In congue nisi nulla. Mauris ut dignissim turpis, a porta libero. Fusce id tellus consequat, suscipit leo vel, pulvinar sapien. Integer mollis ipsum sed diam gravida, in auctor neque pellentesque. Proin at turpis nec mi dapibus rutrum vitae eu nunc. Donec semper, dui a porttitor pretium, est urna tincidunt ante, quis mollis ligula metus vitae turpis.</p>
    </div>
  </div>
</div>