form{
  .message{
    display: block;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    width: 50%;
  }
  input{
    width: 100%;
    border-radius: 5px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input:focus{
    outline: none;
    border: 2px solid #f8c21f;
  }

  input[type=text] {
    border: 2px solid #22272d;
  }

  input[type=text]:focus {
    border: 2px solid #f8c21f;
  }

  input[type=submit] {
    outline: none;
    border: 2px solid #22272d;
    background-color: #22272d;
    font-weight: bold;
    font-size: 18px;
    color: white;
  }

  input[type=submit]:hover {
    outline: none;
    border: 2px solid #f8c21f;
    background-color: #f8c21f;
    color: #22272d;
  }

  textarea{
    width: 100%;
    height: 150px;
    outline: none;
    border-radius: 5px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #22272d;
    resize: none;
  }

    textarea:focus{
      border: 2px solid #f8c21f;
  }
}

.header{
  margin-bottom: 25px;
  text-align: center
}