.hero-img{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: -1;
  position:absolute;
  top: 0px;

  img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    overflow: hidden;
    filter: brightness(40%);
  }
}

.slogan{
  padding-top: 13%;

  h1{
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    width: 100%;
  }

  h2{
    color: white;
    font-size: 60px;
    text-align: center;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    width: 100%;
  }
}

.call-to-action{
  padding-top: 2%;

  button {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border-width: 3px;
  }

  .cta1{
    border-color: #f8c21f;
    background-color: #f8c21f;
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  }

  .cta1:hover{
    background-color: transparent;
    font-weight: bold;
    color: #f8c21f;
    font-size: 30px;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  }

  .cta2{
    border-color: #f8c21f;
    background-color: transparent;
    font-weight: bold;
    color: #f8c21f;
    font-size: 30px;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  }

  .cta2:hover{
    background-color: #f8c21f;
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  }
}

.value-props{
  margin-top: 15%;
}