#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #22272d;

  a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    }

    a:hover {
    background-color: #f8c21f;
    color: #22272d;
    }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

#footer {
  list-style-type: none;
  position: fixed;
  bottom: 0;
  width: 100%;
}