#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f8c21f;

  a {
    display: block;
    color: #22272d;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    }

    a:hover {
      background-color: #22272d;
      color: white;
    }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

#footer-container{
  width: 100%;
  padding-top: 50px;
  margin-top: 60px;
  background-color: #22272d;
  position: relative;

  .footer {
    list-style-type: none;
    width: 100%;

    li{
      padding: 5px;
    }

    a{
      color: white;
    }
  }
}