<ul id="footer">
  <% if admin_signed_in? %>
    <li><%= link_to "Admin Panel", rails_admin_path %></li>
    <li><%= link_to "Logout", destroy_admin_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to "Login", admin_session_path %></li>
  <% end %>
</ul>